[user]
name = "Jimmie Fulton"
email = "jimmie.fulton@gmail.com"

[ui]
default-command = ["log", "--no-pager"]
diff-formatter = [
  "difft",
  "--display=side-by-side-show-both",
  "--color=always",
  "$left",
  "$right",
]
diff-editor = ":builtin"
#pager = "delta"
#pager = ":builtin"

[aliases]
ci = ["commit", "-m", "initial commit"]
dds = ["diff", "--tool", "difft-s"]
ddi = ["diff", "--tool", "difft-i"]
ddd = ["diff", "--tool", "delta"]
di = ["diff", "--tool", "idea"]
sm = ["b", "s", "main"]
sme = ["b", "s", "main", "-r", "@"]
smeb = ["b", "s", "main", "-r", "@", "-B"]
smp = ["b", "s", "main", "-r", "@-"]
smpb = ["b", "s", "main", "-r", "@-", "-B"]
smb = ["b", "s", "main", "-B"]
gc = ["git", "clone", "--colocate"]
gf = ["git", "fetch"]
gp = ["git", "push"]
gpa = ["git", "push", "--all"]
gpn = ["git", "push", "--allow-new"]
rao = ["git", "remote", "add", "origin"]
rro = ["git", "remote", "remove", "origin"]
rm = ["rebase", "-d", "main"]

[colors]
"commit_id prefix" = { fg = "blue", bold = false }
"change_id prefix" = { fg = "red", bold = true }
"working_copy change_id" = { fg = "yellow", underline = true }

[template-aliases]
"format_short_id(id)" = "id.shortest(5)"

[git]
private-commits = "description(glob:'wip:*') | description(glob:'private:*')"

[templates]
git_push_bookmark = '"jfulton/feature-" ++ change_id.short()'

[merge-tools.difft-s]
program = "difft"
diff-args = [
  "--display=side-by-side-show-both",
  "--color=always",
  "$left",
  "$right",
]

[merge-tools.difft-i]
program = "difft"
diff-args = ["--display=inline", "--color=always", "$left", "$right"]

[merge-tools.araxis]
program = "compare2" # Defaults to the name of the tool if not specified
diff-args = ["-wait", "$left", "$right"]
merge-args = [
  "-wait",
  "-merge",
  "-testConflicts",
  "-3",
  "-a2",
  "$left",
  "$base",
  "$right",
  "$output",
]

[merge-tools.delta]
program = "delta"
diff-args = [
  "--blame-code-style=syntax",
  "--commit-decoration-style=box",
  "--diff-so-fancy",
  "$left",
  "$right",
]

[merge-tools.idea]
program = "/Users/jimmie/Applications/IntelliJ IDEA Ultimate.app/Contents/MacOS/idea" # Defaults to the name of the tool if not specified
diff-args = ["diff", "$left", "$right"]
merge-args = ["merge", "$left", "$right", "$base", "$output"]
